<app-bootstrap></app-bootstrap>

<!-- <div> -->
<h3><a [routerLink]="['/home']">Home</a></h3>
<h3><a [routerLink]="['/aboutus']">About us</a></h3>
<h3><a [routerLink]="['/register']">Register</a></h3>
<hr />

<h3><button (click)="renderHome('/home')">HOME</button></h3>
<h3><button (click)="renderAboutUs('/aboutus')">About Us</button></h3>
<h3><button (click)="renderRegister('/register')">Register</button></h3>

<router-outlet></router-outlet>

<!-- creating this here just for reference , home aboutus and register is all components -->

<!-- </div> -->


<div>
 <div style="border: 2px solid blue; margin: 10px*10px;">
    <h1>Parent Component</h1>

    <label for = "parent">Enter search text </label>

    <input type="text"  [(ngModel)]="searchSubject"    />


      <!-- <app-child [searchInput]="searchProduct"></app-child> -->
     

        <app-child [searchInput]="searchSubject" [products]="products"></app-child>
          <app-child [searchInput]="searchSubject"></app-child>
            <app-child [searchInput]="searchSubject"></app-child>

      
    </div>
        

</div>



<div>
  <div style="border: 2px solid blue; margin: 10px*10px;">
    <h1>Parent items</h1>
    <ul>
      <li *ngFor="let item of parentItems">
        {{item}}
      </li>
    </ul>
    <app-childtoparent (childEvent)="onChildEvent($event)"></app-childtoparent>



</div>