<app-bootstrap></app-bootstrap>


<h3><a [routerLink]="['/home']">Home</a></h3>
<h3><a [routerLink]="['/aboutus']">About us</a></h3>
<h3><a [routerLink]="['/register']">Register</a></h3>
<hr />

<h3><button (click)="renderHome('/home')">HOME</button></h3>
<h3><button (click)="renderAboutUs('/aboutus')">About Us</button></h3>
<h3><button (click)="renderRegister('/register')">Register</button></h3>

<router-outlet></router-outlet>

<!-- creating this here just for reference , home aboutus and register is all components -->